<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/asciiChanStyle.css">
</head>
	<body>
	    <h1>New User Signup</h1>
		<form method="post">
			<label>
				Username:
				<input type="text" name="username" value={{username}}>
			</label>
			<div style="color: red">{{uError}}</div>
			<br>
			<label>
				Password:
				<input type="password" name="password" value={{password}}>
			</label>
			<div style="color: red">{{pError}}</div>
			<br>
			<label>
				Verify Password:
				<input type="password" name="verify" value={{verify}}>
			</label>
			<div style="color: red">{{vError}}</div>
			<br>
			<label>
				Email(optional):
				<input type="text" name="email" value={{email}}>
			</label>
			<div style="color: red">{{eError}}</div>
			
			<input type="submit">
		</form>
	</body>
</html>